h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
  
}
section{
    display: flex;
    margin: 26px;
}
.first-section {
    width: 50%;
}
.first-section img {
width:100% ;
background-image: url(images/2.png);
}
.different{
    color: darkorange;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
    padding: 15px 30px;
    font-weight: 700;
    color:white;

}
.first-image-section{
    background-image: url(images/3.png);
}