h1{
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
  
}
section {
    display: flex;
    padding: 26px;
}
.first-section {
    width: 50%;
    padding-top: 100px;
}
.first-section img {
width:50% ;
padding-bottom: 50px;
}
.different{
    color: darkorange;
}
.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;
    padding: 15px 30px;
    font-weight: 700;
    color:white;
}
.second-section{
    background-image: url(images/7.png);
    background-repeat: no-repeat;
}